<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
	<title>USTmarketplace</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- JS (load jquery and bootstrap from a CDN)-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript">$('a[data-toggle=popover]').popover();</script>
	<style>
	    body    { padding-top:50px; }
	</style>