<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <br>
        <main>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <form id="input_form" role="form" method="post" action="/index" enctype="multipart/form-data">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Index</span>
                <input id="index" type="text" class="form-control" name="index" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Type</span>
                <input id="type" type="text" class="form-control" name="type" aria-describedby="basic-addon2">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Node number</span>
                <input id="node_number" type="text" class="form-control" name="node_number" aria-describedby="basic-addon3">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">Primary shards</span>
                <input id="primary_shard_number" type="text" class="form-control" name="primary_shard_number" aria-describedby="basic-addon4">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5">Replica shards</span>
                <input id="replica_shard_number" type="text" class="form-control" name="replica_shard_number" aria-describedby="basic-addon5">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon6">Content path</span>
                <input id="content_path" type="text" class="form-control" name="content_path" aria-describedby="basic-addon6">
              </div>
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Index</button>
            </form>
            </div>
          </div>
        </main>
        <br>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();
          socket.on('log', function(msg){
            //$('#messages').append($('<li>').text(msg));
            console.log(msg);
          });
        </script>
        <script type='text/javascript'>
          $("#input_form").submit(function(event) {
            event.preventDefault();

            var $form = $(this),
                url = $form.attr('action');

            var posting = $.post(url, { 
              index: $('#index').val(), 
              type: $('#type').val(), 
              node_number :  $('#node_number').val(),
              primary_shard_number: $('#primary_shard_number').val(), 
              replica_shard_number :  $('#replica_shard_number').val(),
              content_path: $('#content_path').val() 
            } );

            posting.done(function(data) {
              console.log(data);
            });
          });
        </script>
    </body>
</html>