<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <br>
        <main>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <form role="form" method="get" action="/run" enctype="multipart/form-data">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Index</span>
                <input id="index" type="text" class="form-control" name="index" aria-describedby="basic-addon1">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Type</span>
                <input id="type" type="text" class="form-control" name="type" aria-describedby="basic-addon2">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Node number</span>
                <input id="node_number" type="text" class="form-control" name="node_number" aria-describedby="basic-addon3">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">Primary shards</span>
                <input id="primary_shard_number" type="text" class="form-control" name="primary_shard_number" aria-describedby="basic-addon4">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5">Replica shards</span>
                <input id="replica_shard_number" type="text" class="form-control" name="replica_shard_number" aria-describedby="basic-addon5">
              </div>
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Run</button>
            </form>
            </div>
          </div>
        </main>
        <br>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>